{% case section.settings.logo_width %}
{% when '' %}
{%- assign image_logo_width = '' -%}
{%- assign image_logo_height = '' -%}
{% else %}
{%- assign image_logo_width = section.settings.logo_width -%}
{%- assign image_logo_height = '' -%}
{% endcase %}
{% capture image_logo_size %}{{ image_logo_width }}x{{ image_logo_height }}{% endcapture %}
{% if section.settings.logo_use_image %}
{% if section.settings.logo != blank %}
{% assign logo = section.settings.logo | img_url: image_logo_size %}
{% else %}
{% assign logo = 'logo.png' | asset_url %}
{% endif %}
{% endif %}

{% if section.settings.logo_white_use_image %}
{% if section.settings.logo_white != blank %}
{% assign logo_white = section.settings.logo_white | img_url: image_logo_size %}
{% else %}
{% assign logo_white = 'logo-light.png' | asset_url %}
{% endif %}
{% endif %}
<div class="header-container type2 header__layout-{{section.settings.type}}">
    <div class="header hidden-lg">
        <div class="header-wrapper">
            <div class="header-left-area">
                <div class="logo-header">
                    {% if section.settings.logo_use_image %}
                    <a href="/" class="logo">
                        <img class="x1" src="{{ logo }}" alt="{{ shop.name }}" />
                    </a>
                    {% endif %}
                    {% if section.settings.logo_white_use_image %}
                    <a href="/" class="logo logo-white-specail">
                        <img class="x1" src="{{ logo_white }}" alt="{{ shop.name }}" />
                    </a>
                    {% endif %}
                </div>
                <div class="menu-icon">
                    <a href="javascript:;">
                      <svg class="dlicon-menu2" width="100%" height="100%"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dlicon-menu2"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-vertical hidden-sm hidden-xs">
        <div class="header-vertical-inner">
            {% if section.settings.logo_use_image %}
            <a href="/" class="logo">
                <img class="x1" src="{{ logo }}" alt="{{ shop.name }}" />
            </a>
            {% endif %}
            {% if section.settings.logo_white_use_image %}
            <a href="/" class="logo logo-white-specail">
                <img class="x1" src="{{ logo_white }}" alt="{{ shop.name }}" />
            </a>
            {% endif %}
            <div class="setting-account">
                <div class="icon-account">
                    <i class="fa fa-user-circle-o"></i>
                </div>
                <div class="content-inner">
                    <ul class="links-aside">
                        {% if customer %}
                        <li class="">
                            <a href="/account" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                        </li>
                        <li class="hidden-lg hidden-md">
                            {% assign page_tmp = pages[settings.wishlist_page] %}
                            <a href="{{page_tmp.url}}" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                        </li>
                        <li class="hidden-xs">
                            <a href="/account/logout" {% if settings.language_enable %}data-translate="header.settings.logout"{% endif %}>{{ 'header.settings.logout' | t }}</a>
                        </li>
                        {% else %}
                        <li class="">
                            <a class="btn-open-login-popup" href="javascript: void(0);" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                        </li>
                        <li class="hidden-lg hidden-md">
                            {% assign page_tmp = pages[settings.wishlist_page] %}
                            <a  href="{{page_tmp.url}}" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                        </li>
                        <li class="btn-open-login-popup last">
                            <a href="javascript: void(0);" {% if settings.language_enable %}data-translate="customer.login.log_in"{% endif %}>{{ 'customer.login.log_in' | t }}</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="lang-current-aside">
                        {% include 'header-setting' %}
                    </div>
                </div>
            </div>
            <div class="action-link-right hidden-sm hidden-xs">
                <ul class="link-right-area">
                    {% if customer %}
                    <li>
                        {% assign page_tmp = pages[settings.wishlist_page] %}
                        <a href="{{page_tmp.url}}" ><i class="dl-icon-heart2"></i></a>
                    </li>
                    {% else %}
                    <li>
                        {% assign page_tmp = pages[settings.wishlist_page] %}
                        <a  href="{{page_tmp.url}}" ><i class="dl-icon-heart2"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="mini-cart">
                {% include 'header-cart' %}
            </div>
            <div class="overlay-background"></div>
            <div class="search-control">
                <a href="javascript:void(0);" class="search-icon"><span><i class="dl-icon-search1"></i></span></a>
            </div>
            <div class="nav-header-vertical">
                <div id="main-top-nav" class="main-top-nav">
                    <!-- Main Menu -->
                    {% include 'main-menu' %}
                    <!-- End Main Menu -->
                </div>
            </div>
            {% if section.settings.style_5_enable_social %}
            <div class="social-media-link style-default">
                {{ section.settings.style_5_social_share }}
            </div>
            {% endif %}
            {% if section.settings.style_5_enable_map %}
            <div class="map-contact">
                <div class="block-googlemap">
                    {% assign map_pin = 'map_marker.png' | asset_url %}
                    <script src="//maps.googleapis.com/maps/api/js{% if settings.google_map_api_key != '' %}?key={{settings.google_map_api_key}}{% else %}?v=3.17{% endif %}" type="text/javascript"></script>
                    <script type="text/javascript">
                        function initialize() {
                            var pos = new google.maps.LatLng({{ settings.google_map_pin_latitude }}, {{settings.google_map_pin_longitude}});
                            var mapOptions = {
                                center: pos,
                                panControl: true,
                                scrollwheel: false,
                                zoomControl: false,
                                mapTypeControl: true,
                                scaleControl: true,
                                streetViewControl: false,
                                overviewMapControl: false,
                                zoom: {{settings.google_map_zoom}}
                        };
                            var styles = [{"featureType":"administrative","elementType":"geometry","stylers":[{"saturation":"2"},{"visibility":"simplified"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"saturation":"-28"},{"lightness":"-10"},{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"saturation":"-1"},{"lightness":"-12"}]},{"featureType":"landscape.natural","elementType":"labels.text","stylers":[{"lightness":"-31"}]},{"featureType":"landscape.natural","elementType":"labels.text.fill","stylers":[{"lightness":"-74"}]},{"featureType":"landscape.natural","elementType":"labels.text.stroke","stylers":[{"lightness":"65"}]},{"featureType":"landscape.natural.landcover","elementType":"geometry","stylers":[{"lightness":"-15"}]},{"featureType":"landscape.natural.landcover","elementType":"geometry.fill","stylers":[{"lightness":"0"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"on"},{"saturation":"0"},{"lightness":"-9"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"lightness":"-14"}]},{"featureType":"road","elementType":"labels","stylers":[{"lightness":"-35"},{"gamma":"1"},{"weight":"1.39"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"lightness":"-19"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"lightness":"46"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"lightness":"-13"},{"weight":"1.23"},{"invert_lightness":true},{"visibility":"simplified"},{"hue":"#ff0000"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#adadad"},{"visibility":"on"}]}];
                            var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
                            var map = new google.maps.Map(document.getElementById("store_map"), mapOptions);
                            map.mapTypes.set('map_style', styledMap);
                            map.setMapTypeId('map_style');
                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                icon: '{{ map_pin }}',
                                title: '{{settings.google_map_address}}'
                            });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                    </script>
                    <div id="store_map" style="height: 280px; width: 100%;"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <aside class="header--aside" id="header-aside">
        <div class="header-aside-wrapper">
            <span class="btn-close-aside-header zyra-icon icon-ui-1-simple-remove"></span>
            <div class="header-aside-inner">
                <ul class="links-aside">
                    {% if customer %}
                    <li class="hidden-lg hidden-md">
                        <a href="/account" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                    </li>
                    <li class="hidden-lg hidden-md">
                        {% assign page_tmp = pages[settings.wishlist_page] %}
                        <a href="{{page_tmp.url}}" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="/account/logout" {% if settings.language_enable %}data-translate="header.settings.logout"{% endif %}>{{ 'header.settings.logout' | t }}</a>
                    </li>
                    {% else %}
                    <li class="hidden-lg hidden-md">
                        <a class="btn-open-login-popup" href="javascript: void(0);" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                    </li>
                    <li class="hidden-lg hidden-md">
                        {% assign page_tmp = pages[settings.wishlist_page] %}
                        <a href="{{page_tmp.url}}" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                    </li>
                    <li class="btn-open-login-popup last">
                        <a href="javascript: void(0);" {% if settings.language_enable %}data-translate="customer.login.log_in"{% endif %}>{{ 'customer.login.log_in' | t }}</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="lang-current-aside">
                    {% include 'header-setting' %}
                </div>
                {% if section.settings.custom_block != '' %}
                <div class="custom-block">
                    {% if settings.language_enable %}
                    <div class="lang1">{{ section.settings.custom_block | split: '[lang2]' | first }}</div>
                    <div class="lang2">{{ section.settings.custom_block | split: '[lang2]' | last }}</div>
                    {% else %}
                    {{ section.settings.custom_block | split: '[lang2]' | first }}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </aside>
    <div class="overlay-search">
        {% include 'search-bar' %}
        <span class="btn-close-search zyra-icon icon-ui-1-simple-remove"></span>
    </div>
</div>
