<div data-section-id="{{ section.id }}" data-section-type="top-collection-section" class="top-collection-section{% if section.settings.enable_style == true %} incify-styles{% endif %}"{% if section.settings.enable_style == true %} data-styles='{
  {% if section.settings.style_top != '' %}
  "margin-top":"{{ section.settings.style_top }}px",
  {% endif %}
  {% if section.settings.style_bottom != '' %}
  "margin-bottom":"{{ section.settings.style_bottom }}px",
  {% endif %}
  {% if section.settings.style_left != '' %}
  "margin-left":"{{ section.settings.style_left }}px",
  {% endif %}
  {% if section.settings.style_right != '' %}
  "margin-right":"{{ section.settings.style_right }}px"
  {% endif %}
}'{% endif %}>
    {% if section.settings.title != ''%}
    <div class="container {{ section.settings.preset_section_title }} {% if section.settings.sub_title != blank %}sub-title-enable{% endif %}">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                    <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                    {% else %}
                    <span>{{ section.settings.title | split: '|' | first }}</span>
                    {% endif %}
                </div>
                {% if section.settings.sub_title != blank %}
                <div class="section-sub-title">
                    {{ section.settings.sub_title }}
                </div>
                {% endif %}
                {% if section.settings.preset_section_title == 'style_7' %}
                <div class="sub-image">
                    <img src="{{ 'leaf.png' | asset_url }}" alt="sub-image">
                </div>
                {% endif %}
                {% if section.settings.preset_section_title == 'style_8' %}
                <div class="sub-image">
                    <img src="{{ 'm15-i1.png' | asset_url }}" alt="sub-image">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="{% if section.settings.top_collection_width_screen == 'full' %}container-fluid{% else %}container{% endif %}">
      <div class="row">
        {% if section.settings.top_collection_display == 'slide' %}
        <div class="slick-carousel collection-banner-content" data-slick='{"slidesToShow": {{ section.settings.grid }}, "slidesToScroll": {{ section.settings.grid }}, "dots": true, "autoplaySpeed":5000, "speed":300 ,"responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.grid }},"slidesToScroll":{{ section.settings.grid }}}},{"breakpoint":1200,"settings":{"slidesToShow":{{ section.settings.grid }},"slidesToScroll":{{ section.settings.grid }}}},{"breakpoint":992,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"infinite":false}'>

            {% for block in section.blocks limit: section.blocks.size %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-slider-item' %}
            {% endfor %}
        </div>
        {% endif %}
        {% if section.settings.top_collection_display == 'slide_2' %}
        <div class="slick-carousel collection-banner-content slide_2" data-slick='{"slidesToShow": {{ section.settings.grid }}, "slidesToScroll": {{ section.settings.grid }}, "dots": true, "autoplaySpeed":5000, "speed":300 ,"responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.grid }},"slidesToScroll":{{ section.settings.grid }}}},{"breakpoint":1200,"settings":{"slidesToShow":{{ section.settings.grid }},"slidesToScroll":{{ section.settings.grid }}}},{"breakpoint":992,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"infinite":false}'>

            {% for block in section.blocks limit: section.blocks.size %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-slider-item' %}
            {% endfor %}
        </div>
        {% endif %}
        {% if section.settings.top_collection_display == 'grid' %}
        <div class="collection-banner-content collection-grid">
            {% for block in section.blocks limit: section.blocks.size %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-slider-item' %}
            {% endfor %}
        </div>
        {% endif %}
        {% if section.settings.top_collection_display == 'grid_2' %}
        <div class="grid-x grid-padding-y grid-padding-x small-up-1 medium-up-2 large-up-{{section.settings.grid}} collection-banner-content collection-grid-2">
            {% for block in section.blocks limit: section.blocks.size %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-grid-2-item' %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
"name": "Collection Slider",
"class": "index-section",
"max_blocks": 12,
"settings": [
    {
    "type": "select",
    "id": "preset_section_title",
    "label": "Preset Section Title",
    "options": [
    {
    "value": "style_1",
    "label": "Style 1"
    },
    {
    "value": "style_2",
    "label": "Style 2"
    },
    {
    "value": "style_3",
    "label": "Style 3"
    },
    {
    "value": "style_4",
    "label": "Style 4"
    },
    {
    "value": "style_5",
    "label": "Style 5"
    },
    {
    "value": "style_6",
    "label": "Style 6"
    },
    {
    "value": "style_7",
    "label": "Style 7"
    },
    {
    "value": "style_8",
    "label": "Style 8"
    }
    ],
    "default": "style_1"
    },
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Collection list"
  },
    {
    "type": "text",
    "id": "sub_title",
    "label": "Sub Heading"
    },
  {
    "type": "range",
    "id": "grid",
    "label": "Collections per row",
    "min": 3,
    "max": 6,
    "step": 1,
    "default": 6
  },
    {
    "type": "select",
    "id": "top_collection_display",
    "label": "Display Type",
    "options": [
    {
      "value": "grid",
      "label": "Grid"
    },
    {
      "value": "grid_2",
      "label": "Grid Style 2"
    },
    {
      "value": "slide",
      "label": "Slide"
    },
    {
      "value": "slide_2",
      "label": "Slide Style 2"
    }
    ],
    "default": "slide"
    },
    {
    "type": "select",
    "id": "top_collection_width_screen",
    "label": "Display Full Width / Boxed",
    "options": [
    {
    "value": "full",
    "label": "Full Width"
    },
    {
    "value": "boxed",
    "label": "Boxed"
    }
    ],
    "default": "boxed"
    },
  {
    "type": "header",
    "content": "Styles Settings"
  },
  {
   "type": "checkbox",
   "id": "enable_style",
   "default": false,
   "label": "Enable Style Settings"
  },
  {
      "type":      "range",
      "id":        "style_top",
      "min":       0,
      "max":        500,
      "step":       5,
      "unit":       "px",
      "label":     "Space Top",
      "default":   0
  },
  {
      "type":      "range",
      "id":        "style_bottom",
      "min":       0,
      "max":        500,
      "step":       5,
      "unit":       "px",
      "label":     "Space Bottom",
      "default":   0
  },
  {
      "type":      "range",
      "id":        "style_left",
      "min":       0,
      "max":        500,
      "step":       5,
      "unit":       "px",
      "label":     "Space Left",
      "default":   0
  },
  {
      "type":      "range",
      "id":        "style_right",
      "min":       0,
      "max":        500,
      "step":       5,
      "unit":       "px",
      "label":     "Space Right",
      "default":   0
  }
],
"blocks": [
  {
    "type": "featured_collection",
    "name": "Collection",
    "settings": [
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Price",
        "info": "For Main 10 Only",
        "placeholder": "$9.99"
      }
    ]
  }
],
"presets": [
  {
    "name": "Collection list",
    "category": "Collection",
    "blocks": [
      {
        "type": "featured_collection"
      }
    ]
  }
]
}
{% endschema %}
